**Name: Bhushan Pawar**  
**Registration number: 20BAI10185**

In [2]:
import pandas as pd
import numpy as np

# **Task 1**

In [4]:
#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
np.random.seed(42)
df = pd.DataFrame(np.random.rand(4,4), columns = ['f1', 'f2', 'f3', 'f4'])
df

         f1        f2        f3        f4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

# **Task 2**

In [5]:
# Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
df = df.rename(columns = {'f1': 'random value 1', 'f2': 'random value 2','f3': 'random value 3', 'f4': 'random value 4'})
df

   random value 1  random value 2  random value 3  random value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

# **Task 3**

In [6]:
# Find the descriptive statistics of the 'df' dataframe
df.describe()

       random value 1  random value 2  random value 3  random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

# **Task 4**

In [13]:
# Check for the null values in 'df' and find the data type of the columns
df.info()

Null values in df:  False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   random value 1  4 non-null      float64
 1   random value 2  4 non-null      float64
 2   random value 3  4 non-null      float64
 3   random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes